<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span
    [ngStyle]="{color: tooMore ? 'red' : ''}"
    class="todo-count"><strong>{{todos.length}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a (click)="changeFilterType('All')"
        [ngClass]="{selected: filterType === 'All'}">All</a>
    </li>
    <li>
      <a (click)="changeFilterType('Active')"
        [ngClass]="{selected: filterType === 'Active'}">Active</a>
    </li>
    <li>
      <a (click)="changeFilterType('Completed')"
         [ngClass]="{selected: filterType === 'Completed'}">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button
    (click)="onClearBtnClick.emit()"
    class="clear-completed">Clear completed</button>
</footer>
